In [90]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

import pandas as pd
pd.options.mode.chained_assignment = None

In [91]:
#loading the data
data = pd.read_csv("Clean_data")

In [92]:
#creating a subset of the data
data=data[["MSZoning","LotShape","Neighborhood","SalePrice"]]

In [93]:
#copying data
df=data.copy()

In [94]:
#splitting the data
X_train, X_test, y_train, y_test = train_test_split(df, # predictors
    df['SalePrice'],  # target
    test_size=0.3,  # percentage of obs in test set
    random_state=0)

In [95]:
#checking the data
X_train.head()

     MSZoning LotShape Neighborhood  SalePrice
64         RL      Reg      CollgCr     219500
682        RL      Reg      ClearCr     173000
960        RL      IR1      BrkSide     116500
1384       RL      Reg      Edwards     105000
1100       RL      Reg        SWISU      60000

# Count Encoding

In [96]:
#creating a count mapper
mapper = X_train["MSZoning"].value_counts().to_dict()

mapper

{'RL': 819, 'RM': 142, 'FV': 38, 'RH': 14, 'C (all)': 9}

In [97]:
#creating a count encoding function
def Count(train, test, var):
    
    """
    Takes 3 input train,test and variable and convert them into count encoding
    """
    
    mapper = train[var].value_counts().to_dict()
    
    train[var] = train[var].map(mapper)
    test[var] = test[var].map(mapper)

In [98]:
#variable on which we want to apply this
cat_var = ["MSZoning","LotShape","Neighborhood"]

In [99]:
#applying the function
for var in cat_var:
    Count(X_train,X_test,var)

In [100]:
#training set after transformation
X_train.head()

      MSZoning  LotShape  Neighborhood  SalePrice
64         819       642           105     219500
682        819       642            24     173000
960        819       345            41     116500
1384       819       642            71     105000
1100       819       642            18      60000

In [101]:
#test set after transformation
X_test.head()

     MSZoning  LotShape  Neighborhood  SalePrice
529       819       345            35     200624
491       819       642           151     133000
459       819       345            41     110000
279       819       642            24     192000
655       142       642            10      88000

# Frequency Encoding

In [102]:
#copying data
df1=data.copy()

In [103]:
#splitting the data
X_train, X_test, y_train, y_test = train_test_split(df1, # predictors
    df1['SalePrice'],  # target
    test_size=0.3,  # percentage of obs in test set
    random_state=0)

In [104]:
X_train.head()

     MSZoning LotShape Neighborhood  SalePrice
64         RL      Reg      CollgCr     219500
682        RL      Reg      ClearCr     173000
960        RL      IR1      BrkSide     116500
1384       RL      Reg      Edwards     105000
1100       RL      Reg        SWISU      60000

In [105]:
#mapper
mapper = (X_train['MSZoning'].value_counts() / len(X_train) ).to_dict()
mapper

{'RL': 0.8013698630136986,
 'RM': 0.13894324853228962,
 'FV': 0.03718199608610567,
 'RH': 0.0136986301369863,
 'C (all)': 0.008806262230919765}

In [106]:
#creating a count encoding function

def Freq(train, test, var):
    
    """
    Takes 3 input train,test and variable and convert them into frequency encoding
    """
    
    mapper = (train[var].value_counts() / len(X_train) ).to_dict()
    
    train[var] = train[var].map(mapper)
    test[var] = test[var].map(mapper)

In [107]:
for var in cat_var:
    Freq(X_train,X_test,var)

In [108]:
X_train.head()

      MSZoning  LotShape  Neighborhood  SalePrice
64     0.80137  0.628180      0.102740     219500
682    0.80137  0.628180      0.023483     173000
960    0.80137  0.337573      0.040117     116500
1384   0.80137  0.628180      0.069472     105000
1100   0.80137  0.628180      0.017613      60000

In [109]:
X_test.head()

     MSZoning  LotShape  Neighborhood  SalePrice
529  0.801370  0.337573      0.034247     200624
491  0.801370  0.628180      0.147750     133000
459  0.801370  0.337573      0.040117     110000
279  0.801370  0.628180      0.023483     192000
655  0.138943  0.628180      0.009785      88000